.products-dashboard-container {
    padding: 30px;
    background: #f9f9fb;
    min-height: 100vh;
    margin-left: 250px;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.products-add-btn {
    background-color: #CA3C66 !important;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.products-add-btn:hover {
    background-color: #a52a4e !important;
}

.products-table-wrapper {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
}

.products-table th {
    background-color: #0606da;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 15px;
}

.products-table td {
    padding: 15px;
    vertical-align: middle;
    text-align: center;
}

.products-edit-btn {
    background-color: #E8AABE !important;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    margin-right: 10px;
    color: #fff;
}

.products-edit-btn:hover {
    background-color: #c97c99 !important;
}

.products-delete-btn {
    background-color: #DB6A8F !important;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    color: #fff;
}

.products-delete-btn:hover {
    background-color: #b84f72 !important;
}
