.dashboard-container {
    margin-left: 260px;
    padding: 20px;
}

.table-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #0606da;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    text-align: center;
}
/* Bouton Ajouter */
.custom-add-btn {
    background: #CA3C66!important; /* Couleur verte */
    color: white !important;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-add-btn:hover {
    background: #0e0d0d !important; /* Couleur plus claire au survol */
}

/* Bouton Modifier */
.custom-edit-btn {
    background:#E8AABE!important; /* Couleur orange */
    color: white !important;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-edit-btn:hover {
    background: #181717 !important; /* Couleur plus foncée au survol */
}

/* Bouton Supprimer */
.custom-delete-btn {
    background: #DB6A8F !important; /* Couleur rouge orangé */
    color: white !important;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-delete-btn:hover {
    background: #141414 !important; /* Couleur plus claire au survol */
}